parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - vendor
    ignoreErrors:
        - '#Trait .+ is used zero times#'
        - '#Unsafe usage of new static#'
        - '#PHPDoc tag @method has invalid value#'
        - '#no value type specified in iterable type#'
        -
            message: '#Parameter \#1 .+ of function forward_static_call#'
            reportUnmatched: false
        -
            message: '#Parameter \#1 \$command of method .+::addCommand\(\) expects#'
            reportUnmatched: false
        -
            message: '#Cannot call method doRun\(\) on .+\|null#'
            reportUnmatched: false
        -
            message: '#should return static\(.+\) but returns#'
            reportUnmatched: false
        -
            message: '#Variable \$command in PHPDoc tag @var does not exist#'
            reportUnmatched: false
        -
            message: '#does not accept .+HelperInterface#'
            reportUnmatched: false
        -
            message: '#Argument of an invalid type array\|Countable#'
            reportUnmatched: false
        -
            message: '#Cannot use -- on int\|null#'
            reportUnmatched: false
        -
            message: '#Parameter \#1 \$handle of function pclose#'
            reportUnmatched: false
